.test1{
	background: url(i/test1.png);
}

.test2{
	background: url(./i/test2.png);
}

.test3{
	background: url(../i/test3.png);
}

.test4{
	background: url(css/i/test4.png);
}

.test5{
	background: url(/css/i/test5.png);
}

.test6{
	background: url(http://misc.360buyimg.com/jdf-test/css/i/test6.png);
}

.test7{
	background: url(//misc.360buyimg.com/jdf-test/css/i/test7.png);
}

.test8{
	background: url(../../css/i/test8.png);
}
